body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-family:'Helvetica Neue', Arial, sans-serif;
  overflow-wrap:break-word;
  word-wrap:break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #c7254e;
}

/* MAP */
.map {
  height: 100vh;
}

@media (min-width: 1000px) {
  .map-row {
    width: 99%;
  }
}

@media (max-width: 1000px) {
  .map-row {
    width: 90%;
  }
}

/* LAYERS PANEL*/
.layers-panel {
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  box-shadow: initial;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  z-index: 1;
  height: fit-content;
}

.legend > span {
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.legend-localAuthority-color {
  background-color: rgba(255, 0, 0, 0.3);
  border: 0.1rem red dashed;
}

.legend-measures-color {
  border-color: black;
  border: solid;
}

.legend > label {
  margin-right: 1rem;
}

/* MAP HELP TEXT*/
.map-help-text {
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1rem;
  z-index: 1;
}

/* FEATURES LIST */
.features-list {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  overflow: auto;
  background: #fff;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.btn-close {
  float: right;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.features-list-title {
  padding-top: 0.5rem;
}

.features-list > ul {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.features-list-item {
  list-style: none;
  padding-bottom: 0.5rem;
}

.features-list-item:hover, .features-list-item:hover * {
  background: #1d70b8;
  color: #fff;
}

/* MEASURES LIST */
.measures-list {
  margin: 1rem 0 0 1rem;
}

/* MEASURES LIST LINKS */
.list-links-container {
  border-top: 1px solid #cbd3da;
  margin-top: 0rem;
  margin-bottom: 3rem;
  padding-left: 0;
  list-style: none;
}
.list-links-item {
  border-bottom: 1px solid #cbd3da;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.list-links-item-heading {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}
.list-links-item-link {
  font-weight: bold;
}
.list-links-item-nested-list {
  padding-left: 0;
  list-style: none;
}

/* LINKS */
a {
  color: #1d70b8;
  text-decoration:underline;
}
a:hover {
  color: #003078;
}

a:focus {
  background-color: #ffdd00!important;
  color: #0b0c0c!important;
  outline: 3px solid transparent;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}
a.text-white:hover {
  color: #cbd3da!important;
}
a.text-white:focus {
  color: #0b0c0c!important;
}

/* LIST ATTRIBUTES */
.list-attributes {
  border-top: 1px solid #cbd3da;
  border-right: 1px solid #cbd3da;
  border-left: 1px solid #cbd3da;
  margin-top: 0rem;
  margin-bottom: 3rem;
}
.list-attributes-item {
  border-bottom: 1px solid #cbd3da;
}
.list-attributes-item-label,
.list-attributes-item-description {
  padding: 0.75rem;

}
.list-attributes-item-label {
  font-weight: bold;
  border-right: 1px solid #cbd3da;
}
